.scheduleDay {
    width: calc(100% - 4em);
    margin: 2em 2em;
}
#scheduleDayDate {
    font-size: 2.6em;
    font-weight: 300;
}

#pageContent {
    width: 100%;
    height: calc(100% - 22em - 1px);

    overflow-y: scroll;
}
