.row {
    display: flex;
    flex-direction: row;
}

.row-center {
    align-items: center;
}

.row-baseline {
    align-items: baseline;
}

.row-start {
    justify-content: flex-start;
}

.row-space-between {
    justify-content: space-between;
}

.row-space-around {
    justify-content: space-around;
}
