.spacer_1em {
    width: 1em;
    height: 1em;
}
.spacer_1_5em {
    width: 1.5em;
    height: 1.5em;
}

.spacer_2em {
    width: 2em;
    height: 2em;
}

.spacer_4em {
    width: 4em;
    height: 4em;
}

.spacer_8em {
    width: 8em;
    height: 8em;
}