.titleText {
    font-size: 4em;
}

.onBackground60Text {
    color: var(--onBackground60);
}

#lessonNumber {
    margin-top: 0.155em;
}

.lessonName {
    font-size: 2.8em;

    color: var(--onBackground);
}

.lessonInfo {
    font-size: 2.25em;
    font-weight: 300;

    color: var(--onSecondaryContainer);
}

.lessonLocation {
    color: var(--onBackground);
}

.settingsName {
    font-size: 3.2em;

    color: var(--onBackground);
}

.settingsInfo {
    font-size: 2.4em;
    font-weight: 300;

    color: var(--onSecondaryContainer);
}

.settingsInfoSupport {
    font-size: 2.25em;
    font-weight: 300;

    color: var(--onBackground60);
}

.textInButton {
    font-size: 1em;
    font-weight: 500;

    color: var(--onPrimary);
}